<div fxLayout="column" fxLayoutAlign="start center">
  <h1>Contact Us</h1>

  <div [formGroup]="form">
    <div>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput formControlName="email">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Subject</mat-label>
        <input matInput formControlName="subject">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Message</mat-label>
        <textarea matInput formControlName="message" style="height: 4em;"></textarea>
      </mat-form-field>
    </div>
    <div>
      <button mat-raised-button color="primary">Submit</button>
    </div>
    <div>
      <button mat-button (click)="onCancel()">Cancel</button>
    </div>
  </div>
</div>
