button {
  width: 100%;
  margin-top: 1em;
  margin-bottom: 1em;
}

mat-form-field {
  width: 100%;
}

.form-container {
  width: 90%;
}

.post-submission {
  margin-top: 200px;
  margin-bottom: 200px;
}
