<mat-toolbar class="mat-primary fixed-bar" style="height: 100px">
  <button mat-button routerLink="/"><img src="../assets/img/logo.png"
      alt="WigeDev"></button>
  <span class="spacer"></span>
  <span fxShow fxHide.lt-sm="true">
    <button mat-button [routerLink]="['']" routerLinkActive="active-link"
      [routerLinkActiveOptions]="{exact: true}">
      Home
    </button>
    <button mat-button [routerLink]="['/downloads']" routerLinkActive="active-link">
      Downloads
    </button>
    <button mat-button [routerLink]="['/contact-us']" routerLinkActive="active-link">
      Contact Us
    </button>
  </span>
  <button mat-icon-button [matMenuTriggerFor]="menu" fxHide fxShow.lt-sm="true">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item [routerLink]="['']" routerLinkActive="active-link"
      [routerLinkActiveOptions]="{exact: true}">
      Home
    </button>
    <button mat-menu-item [routerLink]="['/downloads']" routerLinkActive="active-link">
      Downloads
    </button>
    <button mat-menu-item [routerLink]="['/contact-us']" routerLinkActive="active-link">
      Contact Us
    </button>
  </mat-menu>
</mat-toolbar>
<div fxLayoutAlign="center">
  <div class="motto mat-caption">
    App development for the modern era
  </div>
</div>
<div>
  <router-outlet></router-outlet>
</div>
<footer>
  <mat-toolbar class="mat-primary">
    <span class="mat-caption">&copy; 2022 Gary Wige</span>
  </mat-toolbar>
</footer>
