<mat-toolbar class="mat-primary">
  <span class="brand">Wige-Dev</span>
  <span class="spacer"></span>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item [routerLink]="['']">
      Home
    </button>
    <button mat-menu-item [routerLink]="['/downloads']">
      Downloads
    </button>
    <button mat-menu-item [routerLink]="['/contact-us']">
      Contact Us
    </button>
  </mat-menu>
</mat-toolbar>
<div fxLayoutAlign="center">
  <div>
    App development for the modern era
  </div>
</div>
<div>
  <router-outlet></router-outlet>
</div>
<footer>
  <mat-toolbar class="mat-primary">
    &copy; 2022 Gary Wige
  </mat-toolbar>
</footer>
