<div>
  <h1>Downloads</h1>

  <input mat-input>

  <mat-card>
    <dl>
      <dt>
        Item 1
      </dt>
      <dd>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua.
      </dd>
      <dt>
        Item 2
      </dt>
      <dd>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua.
      </dd>
    </dl>
  </mat-card>
</div>
