<div fxLayout="column" fxLayoutAlign="start center">
  <h1>Downloads</h1>

  <mat-form-field>
    <mat-icon matPrefix>search</mat-icon>
    <input matInput type="search" placeholder="search downloads..." class="search-input">
  </mat-form-field>

  <mat-card>
    <dl>
      <dt>
        <a href="https://wige-dev.com">Item 1</a>
      </dt>
      <dd>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua.
      </dd>
      <dt>
        <a href="https://wige-dev.com">Item 2</a>
      </dt>
      <dd>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua.
      </dd>
    </dl>
  </mat-card>
</div>
