<div fxLayout="column" fxLayoutAlign="start center">
  <h1>The Vision</h1>
</div>


<p>WigeDev strives to produce quality websites that meet the standards of modern times. We
  believe that modern websites should be developed with a "mobile first" attitude. We also
  understand the importance of including accessibility and SEO in the design.</p>

<mat-divider></mat-divider>

<div fxLayout="column" fxLayoutAlign="start center">
  <h1>Our Services</h1>
</div>

<p>We specialize in the following web technologies:</p>

<div>
  <ul>
    <li>
      WordPress
    </li>
    <li>
      Angular
    </li>
    <li>
      Node.js
    </li>
    <li>
      ASP.NET MVC
    </li>
    <li>
      ASP.NET Core
    </li>
  </ul>
</div>

<p>Are you ready to enter the modern era? Click <a routerLink="/contact-us">here</a> to
  reach
  out to our specialists today.</p>

<mat-divider></mat-divider>

<div fxLayout="column" fxLayoutAlign="start center">
  <h1>Accomplishments</h1>
</div>

<p>At WigeDev, we bring more than 15 years of IT experience to the table. While many
  projects we are
  involved in are for private companies, we also work on several open source projects
  that
  are open to
  the public for viewing on our GitHub page. We’ve listed a few of our public production
  apps below:</p>

<ul>
  <li>
    <a href="https://github.com/garywige">WigeDev GitHub</a>
  </li>
  <li>
    WigeDev Fitness Log (coming soon)
  </li>
  <li>
    <a href="https://local-weather-app-cxu5e63tw-garywige.vercel.app/">LocalCast
      Weather</a>
  </li>
  <li>
    Windows apps on our <a routerLink="/downloads">Downloads</a> page
  </li>
</ul>
